.BallStyles {
    border-radius: 1000px;
    width: 25px;
    height: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.ProgressBarContainer {
    display: flex;
    align-items: center;
    gap: 10px
}