.bio-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-heading{
    font-family: Poppins;
    font-weight: 600;
    font-size: 26px;
    text-align: center;
}
.bio-input{
    width: 330px;
    height: 150px;
}